body{
    background-image: url(url/bkgd3.jpeg );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}

span{
    color: blue;
    font-size: 30px;
    font-weight: bolder;}


*{
    margin: 0;
    padding: 0;
}

nav{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;}    

nav li{
    height: 50px;}

nav li:first-child{
    color: white;
    font-size: x-large;
    margin-right: auto;
}    

nav a{
   height: 100%;
   padding: 0 30px;
   text-decoration: none;
   display: flex;
   align-items: center;
   color: white;
   font-family: calibri; 
}  

nav a:hover{
    background-color: #05010c;
    }
.contact{
    background-color: rgb(54, 25, 54);
    width: 500px;
    height: 300px;
}

.highlight-me{
    background-color: rgb(219, 213, 127);
    font-family: calibri;
    font-size: larger;
    font-weight: bold;
    border-radius: 2px;
    width: 50px;
    color: black;}    

button{
    height: 33px;
    width: 100px;
    font-family: calibri;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5%;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out; 
    box-shadow: 
    0 0 10px #3399ff,  
    0 0 20px #3399ff,  
    0 0 40px #3399ff;}

p{
    color: white;}  

.contact-me{
    font-family: calibri;
    font-size: larger;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 5%;}    

.send-message{
    background-color: black;
    width: 300px;
    height: 300px;}

 
.contact-container{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin: 0px;}   



.contact{
    width: 400px;
    height: 300px;
    background-color: rgb(36, 5, 36);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(168, 129, 129, 0.2);
    margin: 0px 20px;
    margin-top: 6%;} 


.send-message{
    width: 500px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(168, 129, 129, 0.2);
    margin: 0px 20px;
    margin-top: 6%;} 

input{
    display: block;
    margin: 4% 4%;
    width: 450px;
    height: 25px;
    background-color: black;
    color: white;
    margin-inline-end: 30%;
    border-radius: 8px;
    padding-left: 1%;
    border: none;
    box-shadow: 0px 2px 4px rgba(207, 195, 195, 0.2);}
    
    
.message{
    height: 150px;
}

.send-a-message{
    font-family: calibri;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 5%;}

.contact-content{
    font-family: calibri;
    color: rgb(214, 204, 204);
    font-weight: lighter;
    font-size: small;
    margin-left: 4%;
    margin-top: 4%;
    margin-inline-end: 10%;}    

.contact-content2{
    font-family: calibri;
    color: rgb(214, 204, 204);
    font-weight: lighter;
    font-size: small;
    margin-left: 4%;
    margin-inline-end: 10%;}
  
   
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
}    

.sidebar li{
    width: 100%;
}

.menu, .close{
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: none;
    margin: 0;
    }
.menu-button{display: none;}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
   .menu-button{
    display: block;
   } 
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
    
}



