body{
    background-image: url(url/bkgd3.jpeg );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}

'{
    text-decoration: none;
}

.navbar{
    text-decoration: none;
    background-color: crimson;
    font-family:  Calibri, 
    padding-left: 15px;
    padding-right: 15px;}


.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}    

li{
    list-style: none;
    display: inline-block;
    font-family: calibri;
    font-weight: bold;
    font-size: 18px;
    margin-right: 25px;
}

button{
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    color: white;
    background-color: ;



}
a:hover{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}
button{
    color: white;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    background-color: rgb(56, 202, 56);
    border: none;
    box-shadow: 0px 0px 10px white;
}

span{
    color: blue;
    font-size: 30px;
    font-weight: bolder;
}

.logo{
    color: white;
    font-size: 30px;
}
