body{
    background-image: url(url/bkgd3.jpeg );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}


span{
    color: blue;
    font-size: 30px;
    font-weight: bol    color: white;
    font-size: 30px;
}


.card-container{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin: 0px;}

.card{
    width: 270px;
    height: 200px;
    background-color: rgb(36, 5, 36);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(168, 129, 129, 0.2);
    margin: 0px 20px;
    margin-top: 6%;} 
    
.title{
    font-family: Arial black;
    color: white;
    font-size: 13px;
    margin-left: 30%;
    padding-top: 10%;}
    
p{
    color: rgb(165, 142, 142);
    margin-inline-start: 20%;
    margin-inline-end: 20%;
}    

h3{
    color: white;
    margin-top: 10%;
    margin-left: 50%;
    font-family: calibri;
    font-size: 25px;}

*{
    margin: 0;
    padding: 0;
}

nav{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}    

nav li{
    height: 50px;}

nav li:first-child{
    color: white;
    font-size: x-large;
    margin-right: auto;
}    

nav a{
   height: 100%;
   padding: 0 30px;
   text-decoration: none;
   display: flex;
   align-items: center;
   color: white;
   font-family: calibri; 
}  

nav a:hover{
    background-color: #05010c;
    }

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
}    

.sidebar li{
    width: 100%;
}

.menu, .close{
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: none;
    margin: 0;
    }
.menu-button{display: none;}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
   .menu-button{
    display: block;
   } 
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
    
}



