
    
body{
    min-height: 100vh;
    background-image: url(url/bkgd3.jpeg );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}    



img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(179, 155, 155);
    margin-left: 40%;
    margin-bottom: 2%;
    border: 2px solid purple;
    object-fit: cover;
    margin-top: 100px;}

.experience{
    background-color: rgb(41, 10, 41);
    box-shadow: 0px 0px 10px rgb(49, 20, 49);
    color: white;
    height: 50px;
    width: 100px;
    display: inline-block;
    margin-left: 30%;}  
        

.projects{
    background-color: rgb(41, 10, 41);
    box-shadow: 0px 0px 15px rgb(49, 20, 49);
    color: white;
    height: 60px;
    width: 120px;
    display: inline-block;
    margin-left: 2%;}



h3{ 
    font-size: 20px;
    font-weight: bolder;
    color: blue;
    font-family: calibri;
    font-weight: bolder;
    font-size: 25px;
    padding-left: 20%;
    margin: 0px 0px 0px 10px;}    

h2{
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;}    

h6{
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20%;
    padding-top: 5%;}

.description{
    color: white;
    display: block;
    margin-inline-start: 30%;
    margin-inline-end: 30%; }    
    
p{
    color: white;
}    
.highlight{
    color: blue;
    font-size: x-large;
}    
    
.gmail, .whatsapp, .twitter, .fb{
    width: 20px;
    height: 20px;
    border-radius: none;
    display: inline-block;
    margin: 10px 0px 0px 25px;}    

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;}

    h1{
    color: white;
    display: flexbox;
    margin: 10px 0px;}

.head{
    color: rgb(123, 123, 204);
}    

*{
    margin: 0;
    padding: 0;
}

nav{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}    

nav li{
    height: 50px;}

nav li:first-child{
    color: white;
    font-size: x-large;
    margin-right: auto;
}    

nav a{
   height: 100%;
   padding: 0 30px;
   text-decoration: none;
   display: flex;
   align-items: center;
   color: white;
   font-family: calibri; 
}  

nav a:hover{
    background-color: #05010c;
    }

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
}    

.sidebar li{
    width: 100%;
}

.menu, .close{
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: none;
    margin: 0;
    }
.menu-button{display: none;}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
   .menu-button{
    display: block;
   } 
   img{
    margin-left: 30%;
   }
}





